body {
    background-color: rgb(250, 250, 250);
}

#summary {
    background-color: rgb(248, 248, 248);
    margin: 10px 10px;
    font-size: larger;
    padding: 5px 10px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

summary {
    display: flex;
    justify-content: space-around;
}

#mostUsedLanguages>img,
#githubStats>img {
    height: 195px;
}

#repo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gh-repo {
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    width: 30%;
    margin: 5px 5px;
    padding: 4px;
}

.gh-repo-no {
    margin-left: 2%;
}

@media screen and (max-width: 692px) {
    .gh-repo-no {
        margin-left: 9%;
    }

    summary {
        flex-direction: column;
    }

    #mostUsedLanguages>img,
    #githubStats>img {
        width: 300px;
        display: flex;
        margin: auto;
    }

    .gh-repo {
        width: 46%;
        margin: 0 0;
        padding: 2px 2px;
    }
}